.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    button {
        font-family: "Press Start 2P";
        background-color: transparent;
        padding: 15px 25px;
    }
}
.content {
    // width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 150px;
}
